@import "../../../utilities/style.scss";

.intro-video-body {
	width: 100%;
	height: 65vh;
	background-color: $background-light;
	display: flex;
	flex-direction: row;
}

.intro-menu-container {
	width: 350px;
	height: 600px;
	display: flex;
	flex-direction: column;
	padding: 50px 0px 0px 200px;
}

.intro-menu-items {
	width: 100%;
	height: 130px;
	display: flex;
	align-items: center;
	font-family: $font-family__primary;
	font-size: 22px;
	font-weight: 600;
	color: $dark;
	border-bottom: 1px solid $dark;
}

.menu-introduction:hover {
	color: $accent;
}

.menu-business:hover {
	color: $accent;
}

.menu-products:hover {
	color: $accent;
}

.introduction-videos {
	width: 1500px;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}
