@import "../../utilities/style.scss";

.culture-view {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* ************** */
/*! Culture page */
/* ************** */

// Fonts
$font-family__primary: 'Open Sans', sans-serif;

// Header Fonts
$header-font--color: #707070;

// Colors
$header: #000000;
$accent: rgb(224, 216, 0);
$dark: #333333;
$light: #F2F2F2;
$secondary-light: #c4c4c4;

// main section background color
$background-light: #EFEFEF;

// Width on content section
$content-width: 1000px;

.culture-view {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
}
/*todo Section 1 */
.section1 {
  background-image: url("../../utilities/assets/images/bg.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 20px 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}
.heading12 {
  font-weight: 500;
  font-family: $font-family__primary;
  font-size: 3.5rem;
  line-height: 1.2;
  padding: 0 0 50px 50px;
  letter-spacing: 2px;
  margin-bottom: 0;
  width: 75%;
}
.span1 {
  color: $accent;
  text-transform: capitalize;
}
.content {
  padding-top: 80px;
  font-weight: 500;
  font-family: $font-family__primary;
  font-size: 20px;
  width: 100%;
  line-height: 1.1;
}
.p12a {
  padding: 0px 0 0 50px;
}
.p12b {
  padding: 0 0 20px 50px;
}
.button12 {
  background:  $accent;
  border-radius: 10px;
  padding: 10px;
}

/*todo    Section 2 */
.section2 {
  background: $background-light;
}
.heading13 {
  font-family: $font-family__primary;
  font-size: 4rem;
  line-height: 1.4;
  text-align: center;
  color: #000;
}
.content13 {
  font-weight: 500;
  font-family: $font-family__primary;
  font-size: 18px;
  /* line-height: 40px; */
  letter-spacing: 0.1px;
  line-height: 1.5;
  color:$secondary-light;
  text-align: left;
}
/*todo  Section 3 */
.section3 {
  background: $background-light;
}
/*todo  Section 4 */

.row {
  display: flex;
  // height: 900px;
}


.content2  {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.firstHalf {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: $light;
  font-family: $font-family__primary;
}
.secondHalf {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.5;
  color: $light;
  font-family: $font-family__primary;
}
.text {
  margin-top: 20px;
  font-size: 17px;
  line-height: 2;
  color: $white;
  font-family: $font-family__primary;
  font-weight: 700;
}
.leftDiv {
  background-image: url("../../utilities/assets/images/leftbg.png");
  width: 50%;
  height: 1500px;
  background-size: cover;
  font-weight: 500;
  box-sizing: border-box;
  padding: 50px 0;
  @media (max-width: 1199px) {
    height: 1000px;
  }
  @media (max-width: 991px) {
    height: 750px;
  }
  @media (max-width: 991px) {
    width: 100%;
    height: 600px;
    background-position: center;
  }
}

.content3 {
  margin-top: 30px;  
  @media (max-width: 991px) {
    margin-top: 0;
  } 
}

.rightDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 40px;
  background: white;
  width: 50%;
  height: 1500px;
  font-weight: 500;
  @media (max-width: 1199px) {
    height: 1000px;
  }
  @media (max-width: 991px) {
    height: 750px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 991px) {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.hidden {
  visibility: hidden;
}

.firstHead {
  font-weight: 450;
  font-size: 40px;
  line-height: 1;
  font-family: $font-family__primary;
  color: $header;
  @media (max-width: 1199px) {
    font-size: 32px;
  }
}
.secondHead {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  color:  $accent;
  font-family: $font-family__primary;
  @media (max-width: 1199px) {
    font-size: 32px;
  }
}

.headingSpacing {
  padding: 0px 0px 20px 0px;
}

.p1 {
  font-family: $font-family__primary;
  font-size: 16px;
    color: #61636f;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 15px;
}

/*todo section 5 */
.paddingLeft {
  padding: 50px;
  font-family: $font-family__primary;
}
.paddingRight {
  padding: 50px;
  font-family: $font-family__primary;
}
.p6 {
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1px;
  color:$secondary-light;
}
.b6y {
  background:  $accent;
  border: 2px solid  $accent;
  box-sizing: border-box;
  border-radius: 10px;
}
.b6d {
  background: $dark;
  border: 2px solid $dark;
  box-sizing: border-box;
  border-radius: 10px;
}
/*todo section 6 */
.section6 {
  background-image: url("../../utilities/assets/images/section6bg.png");
  background-size: cover;
  padding: 200px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 991px) {
    padding: 130px 0;
  }
  @media (max-width: 767px) {
    background-position: top center;
  }
  @media (max-width: 575px) {
    padding: 100px 0;
  }
}
.content6 {
  max-width: 720px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
  color: white;
  @media (max-width: 991px) {
    font-size: 40px;
  }
  @media (max-width: 767x) {
    font-size: 34px;
  }
  @media (max-width: 575px) {
    font-size: 26px;
  }
}
.yb6 {
  background:   #e0d800;
  border-radius: 10px;
  border: 2px solid $accent;
  color: $accent;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 30px;
  font-family: $font-family__primary;
  transition: background 200ms;
  @media (max-width: 575px) {
    padding: 15px 20px;
  }
}
.text6 {
  margin-bottom: 50px;
  font-family: $font-family__primary;
}
.yb6:hover {
  background:  rgba(224, 216, 0, 0.276);
  border-radius: 10px;
}
/* ? cards */
.box {
  border: none;
  outline: hidden;
  background: transparent;
  width: 18rem;
}
.images {
  position: relative;
}
.videoPlayIcon {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
      width: 100%;
  }
}
.btnimg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 70px;
}
.imgcard {
  height: 250px;
  background-color: $light;
}

.title {
  font-size: 25px;
  line-height: 1.4;
  color: #000;
  font-family: $font-family__primary;
}

.description {
  line-height: 1.4;
  font-size: 15px;
  font-family: $font-family__primary;
  letter-spacing: 0.1px;
  color: $secondary-light;
}
footer h1{
  font-size: 2rem;
  margin-bottom: 10px;
}
/* ! media query for section 1 */
@media only screen and (max-width: 768px) {
  .section1 {
    padding: 0 0;
  }
  .heading12 {
    font-size: 38px;
    line-height: 1.1;
    padding: 40px 0 10px 25px;
    margin-bottom: 0;
  }
  .content {
    padding-top: 50px;
    width: 100%;
    font-size: 1rem;
    line-height: 1.1;
  }
  .p12a {
    padding: 10px 0 0 25px;
  }
  .p12b {
    padding: 0 0 20px 25px;
  }
  .button12 {
    display: block;
    margin: 0 auto;
  }
  /* ! media query for section 2 */
  .heading13 {
    font-size: 2.5rem;
  }
  .content13 {
    font-size: 13px;
  }
}
/* ! media query for section 3 */
@media only screen and (max-width: 768px) {
  /* ? cards */
  .imgcard {
    height: 180px;
    width: 70%;
  }
  .box {
    margin: 0 auto;
    width: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  /* ! media query for section 4 */
  .firstHalf {
    font-size: 24px;
    line-height: 1;
  }
  .secondHalf {
    font-size: 24px;
    line-height: 1;
  }
  .text {
    font-size: 12px;
  }
  .firstHead {
    font-size: 25px;
  }

  .science-header {
    display: flex;
    flex-direction: column;
  }

  .secondHead {
    font-weight: 900;
    font-size: 25px;
    line-height: 1;
    color:  $accent;
  }

  .headingSpacing {
    padding: 0;
  }
  .p1 {
    font-weight: 500;
    font-size: 13px;
    line-height: 2;
  }
  .text {
    line-height: 1.3;
  }
  /* ! media query for section 5 */
  .paddingLeft {
    padding: 50px 10px 50px 10px;
  }
  .paddingRight {
    padding: 50px 10px 50px 10px;
  }

  .p6 {
    width: 400px;
    font-size: 13px;
    margin: 0 auto;
  }
  .b6y {
    background:  $accent;
    border: 2px solid  $accent;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .b6d {
    background: $dark;
    border: 2px solid $dark;
    box-sizing: border-box;
    border-radius: 10px;
  }
}
/* ! media query for section 6 */
@media only screen and (max-width: 768px) {
  .section6 {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  /* ! media query for section 5 */
  .paddingLeft {
    padding: 50px 10px 50px 10px;
  }
  .paddingRight {
    padding: 50px 10px 50px 10px;
  }
  .p6 {
    text-align: center;
    width: 300px;
  }
}

/* ! media query for section 6 */
@media only screen and (max-width: 498px) {

}

/* ! media query for section 4 */
@media only screen and (max-width: 498px) {
  /*todo  Section 4 */
  .firstHalf {
    font-size: 30px;
    line-height: 1.6;
  }
  .secondHalf {
    font-size: 30px;
    line-height: 1.6;
  }
}
