@import "../../../utilities/style.scss";

.product-videos__container {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: $background-light;
  font-family: $font-family--primary;
  @include flex(space-around);

  .top-text {
    width: $content-width;
    @include flex;

    h3 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    p {
      letter-spacing: 1px;
      line-height: 35px;
    }
    .light-gray--cover {
      position: absolute;
      left: 0;
      height: 230px;
      width: 1300px;
      background-color: rgba(255, 255, 255, 0.336);
      border-radius: 2px;
    }
  }
  .product-videos {
    @include flex(space-between);
    width: $content-width;

  }
}
