@import "../../../utilities/style.scss";

.culture-view__first-look {
  position: relative;
  height: 550px;
  width: 100%;
  overflow: hidden;
  @include flex(space-around);
}

.left-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 974px;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.first-look__container {
  @include flex();
}
.text-container {
  position: relative;
  @include flex();
  width: 500px;
  font-family: $font-family--primary;
  @media (max-width: 640px) {
    width: 360px;
  }
}
.culture-view__first-look  {
  h4 {
    color: $light;
    font-size: 49px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 35px;
    span {
      color: $accent;
    }
    @media (max-width: 991px) {
      font-size: 36px;
    }
    @media (max-width: 480px) {
      font-size: 30px;
      width: 100%;
     }
  }

  p {
    color: $white;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 35px;
    @media (max-width: 767px) { 
      margin-top: 0px !important;
    }
    @media (max-width: 480px) { 
      font-size: 16px;
    }
  }
}

.hiking-woman {
  position: absolute;
  width: 1600px;
  height: auto;
  left: 0px;
  top: -350px;
  z-index: -1;
}

.first-look__container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.culture-view__first-look {
  @media (max-width: 767px) {
    height: 470px;
  }
  .general-button--yellow {
    padding: 20px 30px;
    height: 60px;
    max-width: 220px;
    width: 100%;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    svg {
      display: none;
    }
    @media (max-width: 767px) {
      padding: 10px 5px;
      height: 50px;
      max-width: 200px;
      font-size: 16px;
    }
  }
}

