@import "../../../utilities/style.scss";

.business-videos-body {
	width: 100%;
	height: 125vh;
	background-color: $background-light;
}

.our-stories {
	font-size: 36px;
	font-family: $font-family--primary;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
}
.business-videos {
	@include flex;
	width: 85%;
	height: 100%;
}
.business-video-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
