@import "../../../utilities/style.scss";

.business-videos-body {
	width: 100%;
	height: 75vh;
	background-color: $background-light;
}

.our-stories {
	font-size: 36px;
	font-family: $font-family--primary;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 180px;
}
.business-videos {
	@include flex;
	width: 90%;
	height: 100%;
}
.business-video-container {
	width: 2000px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
}
