@import "../../../utilities/style.scss";

.story-video {
	width: 400px;
	height: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.story-video h1 {
	font-family: $font-family__primary;
	font-weight: 500;
	font-size: 20px;
	width: 500px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
