@import "../../utilities/style.scss";
body {
  position: relative;
  overflow: hidden;
}
// 4k Screens - 2560px
@media screen and (max-width: 2561px) {
  .header__nav {
    position: sticky;
    z-index: 2;
    top: 0;
    font-family: $font-family__primary;
    width: 100vw;
    height: 80px;
    background-color: $dark;
    position: relative;
    @include flex(space-around);
    transition: height 200ms;
  }
  .nav__container {
    @include flex(space-between);
    width: $content-width__4k;
    .title {
      font-size: 28px;
      color: $background-light;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

// Laptop XL - 1440px
@media screen and (max-width: 1840px) {
  .header__nav {
    height: 60px;
  }
  .nav__container {
    .title {
      font-size: 17px;
    }
  }
}

// Laptop L - 1440px
@media screen and (max-width: 1440px) {
  .header__nav {
    height: 50px;
  }
  .nav__container {
    padding: 0 30px;
    width: $content-width__laptop;
    .title {
      font-size: 17px;
    }
  }
}

// Mobile L - 425px
@media screen and (max-width: 425px) {
  .header__nav {
    height: 60px;
  }
  .nav__container {
    padding: 0 30px;
    width: $content-width__mobile;
    .title {
      font-size: 17px;
    }
  }
}
