@import "../../utilities/style.scss";

.header__nav {
  position: sticky;
  z-index: 2;
  top: 0;
  font-family: $font-family__primary;
  width: 100vw;
  height: 60px;
  background-color: #000000;
  @include flex(space-around);
  transition: height 200ms;

  .nav__container {
    @include flex(space-between);
    width: $content-width;
    .title {
      font-size: 17px;
      color: $header-font--color;
    }
  }
}

.header__nav.shrink {
  height: 40px;
}
