@mixin flex($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

@mixin flex-row($sa: space-around, $c: center) {
	display: flex;
	justify-content: $sa;
	align-items: $c;
}