// Google Fonts import
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Fonts
$font-family__primary: 'Open Sans', sans-serif;

// Header Fonts
$header-font--color: #707070;

// Colors
$header: #000000;
$accent: rgb(224, 216, 0);
$dark: #333333;
$light: #F2F2F2;
$secondary-light: rgb(196, 196, 196);

// main section background color
$background-light: #EFEFEF;


// Width on content section
$content-width__4k: 1400px;
$content-width__laptop: 1000px;
$content-width__tablet: 1000px;
$content-width__mobile-large: 500px;
$content-width__mobile: 1000px;



