@import "../../utilities/style.scss";

.training__container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    @media (max-width: 1366px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.training__wrap {
    font-family: $font-family__primary;
    padding: 70px 0;
    h1 {
        font-size: 46px;
        color: $header;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        margin: 0 0 35px 0;
        @media (max-width: 767px) {
            font-size: 36px;
        }
        @media (max-width: 480px) {
            font-size: 30px;
        }
    }
}

.training__sideBar {
    width: 100%;
    background-color: $dark;
    padding: 50px 0 50px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    @media (max-width: 991px) {
        margin-bottom: 30px;
        height: auto;
    }
}
.training__list {
    display: block;
    height: auto !important;
    position: static !important;
    width: 100%;
    @media screen and (max-width: 578px) {
        height: auto !important;
    }
    li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        width: 100%;
        padding: 0;
        margin: 0;
        &:last-child {
            border-bottom: none;
        }
    }
    .training__link {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #fff;
        padding: 23px 20px;
        &:hover {
            text-decoration: none;
            background-color: #e0d647;
            color: #fff;
        }
        @media (max-width: 1366px) {

        }
    }
}


.training__right {
    .course__videoBox {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $dark;   
        padding: 35px 30px;
        @media (max-width: 767px) {
            padding: 20px 15px;
        }
    }
    .right__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 26px;
        color: $white;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 0;
        @media (max-width: 767px) {
            font-size: 22px;
        }
        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
    .course__status {
        font-size: 16px;
        color: $accent;
        line-height: 1.2;
        display: flex;
        align-items: center;
        img {
            margin-right: 7px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    .course__video {
        width: 100%;
        iframe {
            height: 600px;
            width: 100%;
            @media (max-width: 1366px) {
                height: 480px;
            }
            @media (max-width: 575px) {
                height: 400px;
            }
            @media (max-width: 480px) {
                height: 300px;
            }
        }
    }

    .video__review {
        font-size: 18px;
        color: $white;
        font-weight: 600;
        line-height: 1.3;
        margin: 30px 0 0 0;
        @media (max-width: 767px) {
            font-size: 16px;
            margin-top: 20px;
        }
    }
    .btns {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .btn {
            border: 1px solid #989898;
            border-radius: 7px;
            height: 50px;
            text-transform: uppercase;
            color: #707070;
            font-weight: 700;
            background-color: $white;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 200px;
            width: 100%;
            &:hover {
                background-color: $accent;
                border-color: $accent;
                color: #fff;
            }
            @media (max-width: 575px) {
                max-width: 140px;
                font-size: 14px;
                height: 40px;
            }
        }
    }
}

.update__status {
    margin-top: 25px;
    span {
        font-size: 16px;
        color: #989898;
        font-weight: 700;
        line-height: 1.3;
    }
    a {
        color: $accent;
        text-decoration: underline;
    }

}

.progress-wrap {
    max-width: 250px;
    margin: 0 auto 25px;
}