@import "../../../utilities/style.scss";

.navigation {
  @include flex(flex-end);

  ul {
    width: 500px;
    height: 40px;
    @include flex(flex-end);

    li {
      font-size: 11px;
      color: $header-font--color;
    }
  }
}
