@import "../../../utilities/style.scss";

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      font-size: 11px;
      color: $header-font--color;
    }
  }
}
