@import "../../../utilities/style.scss";

.nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: $background-light;
  margin: 0 10px;
  &:hover {
    .nav-indicator {
      background-color: $accent;
      width: 100%;
    }
  }
}
.nav-indicator {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 400ms;
}

.underline {
  background-color: $accent;
  width: 100%;
}

// Mobile L 425px
@media screen and (max-width: 578px) {
  .nav-link {
    position: relative;
    // height: 15px;
    padding: 7px 0;
    display: block;
    width: 100%;
    &:hover {
      .nav-indicator {
        background-color: $accent;
        width: 100%;
      }
    }
  }
  .nav-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: width 400ms;
  }

  .underline {
    background-color: $accent;
    width: 100%;
  }
}
