@import "../../../utilities/style.scss";

.core-products-body {
	width: 100%;
	height: 80vh;
	background-color: $background-light;
}

.title-core-products {
	width: 100%;
	height: 250px;
	position: relative;
}

.title-core-products h2 {
	position: absolute;
	left: 100px;
	top: 125px;
	font-size: 36px;
	font-family: $font-family--primary;
	font-weight: 600;
}

.core-products-container {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
}

.product-cards {
	@include flex;
}
